
.view-header:not(:hover) .view-actions {
  opacity: 0.1;
  transition: opacity 0.25s ease-in-out;
}

.status-bar:not(:hover) .status-bar-item {
  opacity: 0.9;
  transition: opacity 0.25s ease-in-out;
}