h1 {
 overflow: hidden;
 text-align: center;
}
h1:before,
h1:after {
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
 content: '';
 background: gray;
 height: .1em;
 margin: .2em;
 flex: 1;
}
h1:before {
 right: 0.5em;
 margin-left: -50%;
}
h1:after {
 left: 0.5em;
 margin-right: -50%;
}

h1 {
	display: flex;
	width: 100%;
	align-items: center;
}
h1:before,
h1:after{
}
h1 > a {
	padding: 0 0.25em!important;
}

h2 {
 overflow: hidden;
 text-align: center;
}
h2:before,
h2:after {
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
 content: '';
 background: gray;
 height: .05em;
 margin: .2em;
 flex: 1;
}
h2:before {
 right: 0.5em;
 margin-left: -50%;
}
h2:after {
 left: 0.5em;
 margin-right: -50%;
}

h2 {
	display: flex;
	width: 100%;
	align-items: center;
}
h2:before,
h2:after{
}
h2 > a {
	padding: 0 0.25em!important;
}
h3 {
 overflow: hidden;
 text-align: center;
}
h3:before,
h3:after {
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
 content: 'lalala';
 background: rgba(255,255,255,.5);
 height: .01em;
 margin: .2em;
 flex: 1;
}
h3:before {
 right: 0.5em;
 margin-left: -85%;
 
}
h3:after {
 left: 0.5em;
 margin-right: 0%;
}

h3 {
	display: flex;
	width: 100%;
	align-items: center;
}
h3:before,
h3:after{
}
h3 > a {
	padding: 0 0.25em!important;
}